<div id="app">
    <h1>{{pageTitle}}</h1>

    <div class="float-right">
        <input type="search" autocomplete="on" v-model="needle" placeholder="Zoek...">
        <button type="button" v-on:click="getSelection" class="btn btn-sm text-white" style="background-color:rgb(122,166,211)">Zoeken</button>
        <p></p>
        <button type="button" class="btn text-white" style="background-color:rgb(149,199,61)" v-on:click="addProperty" v-if="isAdmin">Nieuwe bepaling aanmaken</button>
    </div>

    <div class="form-group">
        <ul class="list-unstyled">
            <li v-for="property in properties" v-bind:id="property.id" v-on:click="showDetails(property.id)">
                <a v-bind:href="'https://localhost:5001/Properties/Details/' + property.id"
                   v-on:click="addToLocalStorage(property.id)"
                   class="text-white">{{property.name}}</a>
            </li>
        </ul>
    </div>
</div>
<script src="~/js/Properties/index.js"></script>
