<div id="app">
    <div v-if="error" class="alert alert-danger w-50" role="alert">
        {{userMessage}}
    </div>
    <div v-if="isLoggedIn" class="alert alert-success w-50" role="alert">
        {{userMessage}}
    </div>
    <div class="container">
    <h1>{{pageTitle}}</h1>
        <div class="w-50 p-3" style="background-color:rgba(0,0,0,0.5)">
            <form v-on:submit.prevent="logIn">
                <div class="form-group">
                    <label>Gebruikersnaam: </label>
                    <input v-model="loginModel.username" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Paswoord: </label>
                    <input v-model="loginModel.password" type="password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-secondary" style="background-color:rgb(149,199,61)">Inloggen</button>
            </form>
        </div>
        <div v-if="loading" class="spinner-border text-primary col-3 mx-auto" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<script src="~/js/Account/login.js"></script>
