<div id="app">
    <div v-if="error" class="invalid-feedback w-50" role="alert">
        {{userMessage}}
    </div>
    <div v-if="isRegistered" class="valid-feedback w-50" role="alert">
        {{userMessage}}
    </div>
    <div class="container">
    <h1>{{pageTitle}}</h1>
        <div class="w-50 p-3" style="background-color:rgba(0,0,0,0.5)">
            <form v-on:submit.prevent="register" class="mx-auto">
                <div class="form-group">
                    <label>Voornaam: </label>
                    <input v-model="registerModel.firstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Familienaam: </label>
                    <input v-model="registerModel.lastName" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Geboortedatum: </label>
                    <input type="date" v-model="registerModel.dateOfBirth" class="form-control" />
                </div>
                <div class="form-group">
                    <label>E-mailadres: </label>
                    <input type="email" class="form-control" placeholder="voornaam.naam@firma.ext" v-model="registerModel.email" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Adres: </label>
                    <input v-model="registerModel.address" placeholder ="Straat + huisnummer (+ bus)" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Postcode: </label>
                    <input v-model="registerModel.postalCode" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Gemeente: </label>
                    <input v-model="registerModel.city" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Paswoord: </label>
                    <input v-model="registerModel.password" type="password" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Herhaal paswoord: </label>
                    <input v-model="registerModel.repeatPassword" type="password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-secondary" style="background-color:rgb(149,199,61)">Account aanmaken</button>
            </form>
        </div>

    </div>
</div>

<script src="~/js/Account/register.js"></script>
